<div id="comments-list">
    {{#commentsDTOs}}
        <div class="card m-2" id="comment {{id}}">
            <div class="card-header">
                {{nickname}}
            </div>
            <div class="card-body">
                {{body}}
            </div>
        </div>
    {{/commentsDTOs}}

</div>